.Nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  padding: 10px;
  border-bottom: 2px solid rgb(41, 40, 40);
}

h1:hover {
  font-size: 50px;
  color: rgb(17, 5, 0);
  background-color: rgb(165, 42, 128);
  border-radius: 80%;
}

ul {
  list-style: none;
  display: flex;
  width: 20%;
  justify-content: space-around;
}

li {
  font-size: 20px;
  font-weight: 600;
  padding: 1rem;
}

li:hover {
  font-size: 24px;
  border-radius: 70%;
  background-color: rgb(225, 0, 255);
}
